@import '../../assets/css/variable/variable';


.footer{
    padding: 20px 30px;
    background: $white_color;
    box-shadow: 0 -5px 5px -5px rgba(56, 72, 97, 0.2);
    // left: 250px;
    left: 80px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    .footer_inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left_part{
            display: flex;
            align-items: center;
            .btn_close{
                padding: 0;
                border: none;
                width: 24px;
                height: 22px;
                min-width: 24px;
                margin: 0 10px 0 0;
                background-color: transparent;
            }
            
        }
        .right_part{
            display: flex;
            align-items: center;
            .common_content{
                margin: 0 12px;
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width:$tablet) {
    footer{
        &.footer{   
            padding: 15px;
            left: 0;
            margin: 0;
            background:#ffffff;
            border-bottom: none;
        }
    }
}
@media screen and (max-width:$medium_iphone) {
    footer{
        &.footer{   
            .footer_inner {
                flex-direction: column;
            }
        }
    }
}
